/* ===== VARIABLES CSS ===== */
:root{
  /*Paleta de colores*/
  --color-primario: #DFDED6;/*Fondo general*/
  --color-secundario: #0D3B66;/*Header, footer, títulos importantes*/
  --color-terciario: #ffffff; /* Secciones, tarjetas */
  --color-acento: #f95738;/* Botones, enlaces importantes */

  /*Tipografia y tamaños*/
  --fuente-principal: 'Inter', sans-serif;
  --h1-size: 32px;
  --h1-weight:700;

  --h2-size: 24px;
  --h2-weight: 600;

  --body-size: 16px;
  --body-weight: 400;

  --small-size: 14px;
  --small-weight: 300;

   /* Espaciados */
  --padding-general: 20px;
  --margin-general: 20px;
  --radio-bordes: 10px;
  --shadow-cards: 0 4px 10px rgba(0,0,0,0.1);
  --shadow-img: 0 8px 20px rgba(0,0,0,0.25);
}


/* ===== General ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fuente-principal);
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  background-color: var(--color-primario);
  color:var(--color-secundario)
}

/* ===== HEADER ===== */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secundario);
  padding: var(--padding-general) 40px;
  color: var(--color-terciario);
}


header img{
  height: 100px;
  width: auto;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a{
  color: var(--color-terciario);
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover{
  color: var(--color-acento);
}

/* ===== TITULO CENTRAL ===== */
#titulo-nombre{
  text-align: center;
  color: var(--color-secundario);
  background-color: var(--color-terciario);
  padding: 40px;
}

#titulo-nombre h1{
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
}

#titulo-nombre h2{
  font-size: var(--h2-size);
  font-size: var(--h2-weight);
  padding: 5px;
}

#titulo-nombre img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20%;
  border: 6px solid var(--color-secundario);
  box-shadow: var(--shadow-img);
}

/* ===== SOBRE MI ===== */
.sobre_mi{
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 40px auto;
  justify-content: space-between;
}

.sobre_mi img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
}

.sobremi-text{
  flex: 1;

}

.sobremi-text h1{
  margin-top: 0;
  font-size: var(--h1-size);
  font-weight:var(--h1-weight);
  color: var(--color-secundario);
  text-align: center;
  margin-bottom: 30px;
}

.sobremi-text p{
  line-height: 1.6;
  text-align: justify;
}

/* ===== PROYECTOS ===== */
#proyectos {
  padding: 40px;
}

#titulo-tarjeta h1{
  text-align: center;
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  color: var(--color-secundario);
  margin-bottom: 30px;
}

.cards-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  background-color: var(--color-terciario);
  border-radius: var(--radio-bordes);
  box-shadow: var(--shadow-cards);
  width: 300px;
  padding: 15px;
  text-align: center;
}

.card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3{
  margin: 10px 0 5px 0;
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  color: var(--color-secundario);
}

.card p{
  font-size: var(--small-size);
  font-weight: var(--small-size);
  color: var(--color-secundario);
}

.btn-vermas{
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: var(--color-acento);
  color: var(--color-terciario);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-vermas:hover{
  background-color:var(--color-secundario);
}

/* ===== CONTACTO ===== */
#contacto{
  padding:var(--padding-general);
}

#titulo-contacto h1{
  text-align: center;
  font-size: var(--h1-size);
  font-weight: var(--h2-weight);
  color: var(--color-secundario);
  margin-top: 30px;
  padding: var(--padding-general);

}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  
}

.contact-info {
  flex: 1;
  min-width: 250px;
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  color: var(--color-secundario);
  text-align: center;
}

.contact-info p{
  margin-bottom: 5px;
}


/* ===== FOOTER ===== */
footer{
  background-color: var(--color-secundario);
  color: var(--color-terciario);
  text-align: center;
  padding: var(--padding-general);
  margin-top: var(--margin-general);

}

footer p{
  margin-bottom: 12px;
  font-size: var(--body-size);

}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons img{
  width: 50px;
  height: 50px;
}


/* ===== DISEÑO RESPONSIVE ===== */

/* Tablet */
@media screen and (max-width: 1024px) {
  .sobre_mi {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cards-container{
    flex-direction: column;
    align-items: center;
  }

  #titulo-nombre img{
    width: 200px;
    height: 200px;
  }
  
}

/* Movil  */
@media screen and (max-width: 768px) {
  header{
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px 20px;
    flex-wrap: wrap;
  }

  nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    align-items: flex-end;
  }

   nav li {
    margin: 0;
  }

  #titulo-nombre h1{
    font-size: 28px;
  }

  #titulo-nombre h2{
    font-size: 20px;
  }

  .card{
    width: 90%;
  }

  .contact-container{
    flex-direction: column;
    gap: 20px;
  }
}
